<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.IO.Abstractions" version="21.3.1" targetFramework="net481" />
  <package id="TestableIO.System.IO.Abstractions" version="21.3.1" targetFramework="net481" />
  <package id="TestableIO.System.IO.Abstractions.Wrappers" version="21.3.1" targetFramework="net481" />
</packages>