<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="4.4.0" targetFramework="net481" />
  <package id="NUnit3TestAdapter" version="4.6.0" targetFramework="net481" />
  <package id="System.IO.Abstractions" version="21.3.1" targetFramework="net481" />
  <package id="System.IO.Abstractions.TestingHelpers" version="21.3.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="TestableIO.System.IO.Abstractions" version="21.3.1" targetFramework="net481" />
  <package id="TestableIO.System.IO.Abstractions.TestingHelpers" version="21.3.1" targetFramework="net481" />
  <package id="TestableIO.System.IO.Abstractions.Wrappers" version="21.3.1" targetFramework="net481" />
</packages>